* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    border: 5px black solid;
    font-family: "Lato";
    /* background-color: black; */
}

.content {
    /* color: white; */
    margin: auto;
    width: 90%;
    max-width: 1600px;
    border: 5px green solid;
    /* background-color: aqua; */
    /* min-height: 100px; */
    display: grid;
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: auto; */
    grid-template-areas: "header header header"
        /* "main main aside" */
        "main main main"
        "footer footer footer";
}

.header {
    border: 5px red solid;
    min-height: 100px;
    /* grid-column: span 2; */
    grid-area: header;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
}

.header .logo {
    width: 30%;
}

.header nav {
    width: auto;
}

.header nav ul {
    display: flex;
    width: auto;
}

a {

    text-decoration: none;
}

li {
    padding: 10px;
    list-style: none;
    text-align: left;
}

.footer {
    border: 5px purple solid;
    min-height: 50px;
    width: 90%;
    /* grid-column: span 2; */
    grid-area: footer;

}

header nav {
    border: 5px rgb(13, 214, 13) solid;
    min-height: 100px;

}

header .nav360 {
    border: 5px rgb(135, 233, 7) solid;
    min-height: 100px;

}

header div.logo {
    border: 5px rgb(3, 168, 3) solid;
    min-height: 100px;
}

main {
    margin: 10px;
    /* border: 5px blue solid; */
    min-height: 100px;
    grid-area: main;
    display: grid;
    grid-template-areas: "titulo"
        "tarjeta";
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 40px; */
    /* justify-content: center; */
}

main .titulo {
    display: block;
    /* background-color: aqua; */
    /* grid-area: titulo; */
    font-size: 2rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* grid-column: 1 / 4; */
    /* border: 2px red solid; */
}

main .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-content: center;
    /* gap: 10px; */
    text-align: center;

}

main section {
    /* border: 5px rgb(15, 153, 199) solid; */
    grid-area: tarjeta;
    background-color: yellow;
    box-shadow: 0 0 10px 6px #0000000a;
    border-radius: 8px;
    width: 20%;
    min-height: 300px;
    min-width: 300px;
    max-width: 400px;
    display: grid;
    grid-template-rows: ;
    /* display: flex; */
    /* flex-flow: column nowrap; */
    /* justify-content: space-evenly; */
    /* align-content: center; */
    /* gap: 10px; */
    text-align: center;
}

main section:hover {
    transform: scale(1.05);

}

main section header {
    font-size: 2rem;
}

main section p.antes {
    /* text-align: center; */
    /* width: auto; */
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

main section p::before {
    content: "";
    min-width: 20px;
    border-top: 1px red solid;
    transform: rotate(-14deg);
}

main section p.ahora {
    font-size: 2rem;
}

main section ul li:before {
    color: green;
    content: "✓ ";
}

.peque {
    color: grey;
    font-size: 1.3rem;
}


.muypeque {
    color: grey;
    font-size: .8rem;
}

.section .boton {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: all .2s ease;
}

.section .boton:hover {
    background-color: rgb(68, 67, 67);
    color: rgb(226, 226, 240);
    transform: scale(1.2);
}

header.section {
    /* border: 5px rgb(28, 77, 151) solid; */
    min-height: 50px;
}


article.section ul {
    /* background-color: aqua; */
}

.aside {
    display: none;
    border: 5px rgb(226, 34, 185) solid;
    grid-area: aside;
}

.aside aside {
    border: 5px pink solid;
    min-height: 100px;
}


nav.nav360 {
    display: none;
}

/* .simbolomenu {
    display: none;
} */

.simbolomenu {
    border: 5px blue solid;
}


@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
        /* grid-template-columns: 1fr; */
    }

    main,
    .aside {
        grid-column: span 2;
    }

    .header {
        justify-content: space-between;
    }

    nav.nav360 {
        display: flex;
    }

    nav.nav360>ul>ul {
        display: none;
    }

    /* nav.nav360 li:not(:first-of-type):hover{
        display: flex;
    } */
    nav.nav360 ul:hover>ul,
    nav.nav360 ul:active>ul {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: aqua;
        z-index: inherit;
        position: absolute;
        top: 0;
        left: 0;

    }

    nav.nav360 ul {
        flex-direction: column;
    }

    .header .nav600 {
        display: none;
    }

}


@media only screen and (min-width: 601px) and (max-width: 992px) {
    .header .nav600 {
        display: flex;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .header .nav600 {
        display: flex;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-height: 500px) {
    .footer {
        position: fixed;
        bottom: 0px;
        left: auto;
    }
}

/* 
@media only screen and (max-width: 600px) {
    section header::after {
        color: red;
        content: " media 360";
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    section article::after {
        color: rgb(25, 197, 91);
        content: " media 600";
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    section footer::after {
        color: rgb(37, 20, 197);
        content: " media 900";
    }
}

@media only screen and (min-width: 1200px) {
    aside::after {
        color: rgb(226, 241, 5);
        content: " media 1200";
    }
}
 */